# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
ENV/

# Environment variables
.env

# Large data files
*.zip
data/
plots/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Misc
*.log
.DS_Store 